* {
    margin: 0;
    padding: 0;
    font-family: verdana;
    box-sizing: border-box;
}

body {
    background-color: #111111;
    height: 100vh;
}

#top_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: white;
    height: 10vh;
}

#outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 5vh;
}

#board {
    height: 100%;
    aspect-ratio: 1;
}

#info {
    background-color: #333333;
    width: 20vw;
    height: 100%;
    padding: 1em;
    margin: 1em;
}